<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>IT - Jump</title>
	<link rel="stylesheet" type="text/css" href="static/css/Style.css">
	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>
	<div class="header">
		<div class="menu_words"> 
			<div class="img"><a href="#" class="btn_up"><img class="logo" src="/img/a.png"></a></div>
			<div class="button opisanie dicip">
				<a href="#">Описание</a>
			</div>
			<div class="button">
				<a href="/login">Оставить отзывы</a>
			</div>
			<div class="button">
				<a href="/">Регистрация</a>
			</div>
			<div class="button">
				<a href="#" id="theame">Поменять тему</a>
			</div>
			<div class="button">
				<a href="/otzivi">Отзывы</a>
			</div>
		</div>
	</div>

	<div class="obertka_disc dicip3">
		<div class="disc_button button1 "><a href="#main">Программа</a></div>
		<div class="disc_button button2 "><a href="#jj">IT-Jump PRO</a></div>
		<div class="disc_button button3 "><a href="#kk">Проекты</a></div>
		<div class="disc_button button4 "><a href="#vv">О смене</a></div>
		<div class="disc_button button7 "><a href="#ll">Выпускники</a></div>
	</div>
<div class="header2_obertka">

	<header class="header2">
			<nav class="navigation">
				<section class="navigation_icon" >
					<span class="topbar" ></span>
					<span class="midlebar" ></span>
					<span  class="footerbar"></span>
				</section>
				<ul class="navigation_ul">
					<li><a href="https://vk.com/itjump_baytik" target="-_blank">Вконтакте IT Jump PRO</a></li>
					<li><a target="_blank" href="https://www.youthinnocamp.ru">Партнеры</a></li>
					<li><a target="_blank" href="https://vk.com/unikvant">Вконтакте Кампуса</a></li>
					<li><a target="_blank" href="https://www.instagram.com/youthinnocamp/?hl=ru">Инстаграм Кампуса</a></li>
				</ul>
			</nav>
	</header>

	<div class="TITLEe">
		<div class="title">
			<h1>IT - Jump PRO</h1>
			<p id="p_example" style="margin-top: 50px; margin-bottom: 100px;">The programming camp Jump PRO</p>
		</div>
		<div class="container" style="margin: 2px;">	
			<div class="btn btn1 bty" style="margin-left: 100px;">
				<a href="https://www.youthinnocamp.ru" style="margin-left: 65px;">Кампусы</a>
			</div>

			<div class="btn btn1 bty">
				<a href="https://forms.gle/c6eL3bsMEtBzDTTw5"  style="margin-left: 45px;">Подать заявку</a> 
			</div>
		</div>
	</div>
</div>

	</div>
	<div id="main">
			
	</div>
<div class="line4"></div>
	<div class="titile_IT_Jump_Pro"><h1>Образовательная программа</h1></div>

		<div class="container">
			<div class="cartachka">
				<div class="imgBox">
					<img src="/img/Teg.png">
				</div>
				<div class="details">
					<h2>SaaS -</h2>
					<p>Одна из форм облачных вычислений, при которой подписчикам предоставляется готовое прикладное программное обеспечение, полностью обслуживаемое провайдером. Поставщик в этой модели самостоятельно управляет приложением, с клиентских устройств, как правило через мобильное приложение или веб-браузер.

Основное преимущество модели SaaS для потребителя услуги состоит в отсутствии затрат, связанных с установкой, обновлением и поддержкой работоспособности оборудования и работающего на нём программного обеспечения.</p>
				</div>
			</div>
			<div class="cartachka">
				<div class="imgBox">
					<img src="/img/Ptn.png">
				</div>
				<div class="details">
					<h2>Python -</h2>
					<p> высокоуровневый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода. Синтаксис ядра Python минималистичен. В то же время стандартная библиотека включает большой объём полезных функций. Python — активно развивающийся язык программирования, новые версии с добавлением/изменением языковых свойств выходят примерно раз в два с половиной года.</p>
				</div>
			</div>
			<div class="cartachka">
				<div style="display: flex; justify-content: center; align-items: center; font-size: 28px; color: #fff; " class="imgBox">
					<h1>VR</h1>
				</div>
				<div class="details">
					<h2>Разработка VR приложений -</h2>
					<p class="tit">Созданный техническими средствами мир, передаваемый человеку через его ощущения: зрение, слух, осязание и другие. Виртуальная реальность имитирует как воздействие, так и реакции на воздействие. Для создания убедительного комплекса ощущений реальности компьютерный синтез свойств и реакций виртуальной реальности производится в реальном времени.</p>
				</div>
			</div>
		</div>
<div class="line3"></div>
	<div class="container" style="margin: 2px; float: right; margin-top: 38px; margin-right: 120px;">
		<div class="btn btn1 ma bty">
			<a href="https://forms.gle/c6eL3bsMEtBzDTTw5"  style="margin-left: 45px;">Подать заявку</a> 
		</div>
	</div>
<div id="jj" class="lll" ></div>
<div class="titile_IT_Jump_Pro"><h1>О  IT - Jump PRO</h1></div>

	<div class="flip_container">
		<div class="flip">
  			<div class="card">
    			<div class="front"><h1>IT - Jump PRO</h1>
    				<p>Кадры для цифровой экономики</p>
    			</div>

    			<div class="back"><h5>В рамках проекта «Кадры для цифровой экономики» по всей России создаются Кампусы молодежных инноваций, нааправленные на подготовку будущих кадров из числа детей, конкурентоспособных на глобальном рынке труда в эпоху цифровой экономики</h5></div>
  			</div>
		</div>
		<div class="flip">
    		<div class="card">
    			<div class="front"><h1>IT - Jump PRO</h1>
    				<p>Цифровой лагерь</p></div>
    			<div class="back"><h5>Лагерь «Байтик» принял участие и успешно прошел отбор с проектом «Цифровой лагерь проектной деятельности и предпринимательства в сфере информационных технологий «IT-Jump PRO».</h5></div>
  			</div>
		</div>
		<div class="flip">
  			<div class="card">
    			<div class="front"><h1>IT - Jump PRO</h1>
    				<p>Чемпионат выпускников</p>
    			</div>
    			<div class="back"><h5>Осенью пройдет финальное ежегодное событие проекта. В чемпионате примут участие ТОП-200 выпускников региональных школ Кампуса. Участники представят свои проекты, будут работать с кейсами топовых компаний-партнеров.</h5></div>
  			</div>
		</div>
	</div>
<div id="kk" class="lll" ></div>
	<div class="container" style="margin: 2px; float: right; margin-top: 38px; margin-right: 120px;">
		<div class="btn btn1 ma bty">
			<a href="https://forms.gle/c6eL3bsMEtBzDTTw5"  style="margin-left: 45px;">Подать заявку</a> 
		</div>
	</div>
<div class="line"></div> 
		
		<div class="titile_IT_Jump_Pro"><h1>Проекты</h1></div>

		<div class="flip_container">
			<div class="flip">
	  			<div class="card">
	    			<div class="front"><h1>IT - Jump PRO</h1>
	    				<p>Создание проектов</p>
	    			</div>

	    			<div class="back"><h5>Проект предусматривает проведение смен, на которых участники занимаются проектной деятельностью.Работа ведется в команде от трёх до пяти человек. А по окончанию смены каждая из них проходит отбор, где представляет работающий прототип IT-продукта.</h5></div>
	  			</div>
			</div>
			<div class="flip">
	    		<div class="card">
	    			<div class="front"><h1>IT - Jump PRO</h1>
	    				<p>Первый и второй этап</p></div>
	    			<div class="back"><h5>На первом этапе все команды презентуют свои проекты экспертам в учебных группах. Лучшие два проекта от группы проходят на следующий этап, где их ожидает расширенное жюри и разбор со стороны других команд.</h5></div>
	  			</div>
			</div>
			<div class="flip">
	  			<div class="card">
	    			<div class="front"><h1>IT - Jump PRO</h1>
	    				<p>Третий этап</p>
	    			</div>
	    			<div class="back"><h5>Завершается смена защитой проектов на Фестивале проектов. На этом этапе участники представляют свои проекты приглашенным экспертам из числа представителей потенциальных инвесторов, представителей бизнес-инкубаторов.</h5></div>
	  			</div>
			</div>
		</div>
		<div id="vv" class="lll" ></div>
<div class="line"></div> 
		
		<div class="titile_IT_Jump_Pro"><h1>О смене</h1></div>

		<div class="flip_container">
			<div class="flip">
	  			<div class="card">
	    			<div class="front"><h1>IT - Jump PRO</h1>
	    				<p>Развлекательная программа</p>
	    			</div>

	    			<div class="back">
	    				<h5>
	    					- командно-спортивныя игры;
	    					<br>
							- спортивные соревнования;
							<br>
							- конкурсы, дискотеки;
							<br>
							- квесты и приключенческие «вертушки»;
							<br>
							- вечерние «Свечки»;
							<br>
							- гитарники.
						</h5>
					</div>
	  			</div>
			</div>
			<div class="flip">
	    		<div class="card">
	    			<div class="front"><h1>IT - Jump PRO</h1>
	    				<p>Экскурсионная программа</p></div>
	    			<div class="back"><h5>Участникам Кампуса будут предложены на выбор экскурсии: обзорная экскурсия по Казани с посещением Казанского Кремля и выезд в город Иннополис.</h5></div>
	  			</div>
			</div>
			<div class="flip">
	  			<div class="card">
	    			<div class="front"><h1>IT - Jump PRO</h1>
	    				<p>Безопастность</p>
	    			</div>
	    			<div class="back"><h5>Территория лагеря ограждена и охраняется. Дети постоянно находятся под присмотром вожатых.Медицинский пункт оснащен всем необходимым оборудованием и медикаментами, а круглосуточное обслуживание осуществляют врач и медицинская сестра.</h5></div>
	  			</div>
			</div>
		</div>

<div class="obertka_for_best_people">
<div id="ll" class="lll"></div>
	<div class="container" style="margin: 2px; float: right; margin-top: 38px; margin-right: 120px;">
		<div class="btn btn1 ma bty">
			<a href="https://forms.gle/c6eL3bsMEtBzDTTw5"  style="margin-left: 45px;">Подать заявку</a> 
		</div>
	</div>
<div class="line5"></div>

		<div class="title_for_big_people">
			<h1> Наша Гордость! </h1>
			<!-- <p>Лучшие ученики со смены IT - Jump</p> -->
		</div>

		<div class="big_people">
			<div class="BOX">
				<div class="imgBx">
					<img src="/img/men1.jpg">
				</div>
				<div class="layer layer1"></div>
				<div class="layer layer2"></div>
				<div class="contentBx">
					<div class="text_big_people">
						<h2>Амир Адигамов</h2>
						<p>
						<br>
						<br/>
						Разработчимк игр
						<br>
						<br/>
						Несколько его проектов:
Survival Time:Forest
Игра о выживании в лесу с реалистичной графикой на мобильные устройства. Выпущена в 2013 году, а 2015 году получила первое место на региональном конкурсе “Юный Программист”. С  тех пор игра много раз обновлялась. Однако, вот уже целых два года игра не получала никаких обновлений. Связано это с занятостью команды в университете и отсутствием инвестиций. За это время игра получила доход более 4000$. За все время продаж игра неоднократно появлялась в топ 10 платных игр различных стран.
Anro Games
Студия по разработке компьютерных игр и программ, в рамках которой он разрабатываю все свои игры. Также он беру заказы и на другие приложения. В настоящее время студия никак не зарегистрирована и не имеет собственного офиса, вся разработка ведется удаленно. В студии работает продюсер (он же и программист), арт-дизайнер, переводчик и 3D художник
						<br>
						<br/>
					
						</p>

					</div>
				</div>
			</div>
			<div class="BOX">
				<div class="imgBx">
					<img src="/img/Big_people2.jpg">
				</div>
				<div class="layer layer1"></div>
				<div class="layer layer2"></div>
				<div class="contentBx">
					<div class="text_big_people">
						<h2>Вафин Амир</h2>
						<p>Владелец кампании Zevs Digital Agency. Занимается брендингом и разработкой сайтов один из которых продал за миллион. 
						<br>
						<br/>
						Он начал путь предпринимателя в 15 лет, будучи в восьмом классе. Они совместно с друзбями собрали команду и создавали мобильные онлайн игры, достигнув результата в 30.000 посещений в день.
						<br>
						<br/>
						Далее они совместно Alto Vision создали приложение по поиску скидок на одежду.
						<br>
						<br/>
						К этому времени наш герой поступает в КФУ и ровно через год он основывает digital - агенство. 
						</p>
					</div>
				</div>
				
			</div>
			<div class="BOX imgB0x">
				<div class="imgBx">
					<img src="/img/men2.jpg" style=" ">
				</div>
				<div class="layer layer1"></div>
				<div class="layer layer2"></div>
				<div class="contentBx">
					<div class="text_big_people">
						<h2>Илья Дементьев</h2>
						<p>
						<br>
						<br/>
						Он создал свой первый сайт в 10лет, в 12 первый раз поехал в байтик на IT-Jump и создал свой проект. Далее он много раз ездил на смены Байтика и в 15 летзанял 1 место в конкурсе MIcrosof"Магистр кода".
						<br>
						<br/>
						Сейчас он заканчивает 12 класс в США. Развивает проек в области кибер-безопастности "Kryptaxe". В данный момент ищет инвесторов для проекта.
						<br>
						<br/> 
						</p>
					</div>
				</div>
			</div>
		</div>
</div>



	<div class="footter">
		<p>@TeamFlix</p>
		<p>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#butbigtext1").on('click',function(){
				$(".exit").toggleClass('eexit');
				$(".exit").toggleClass('exit');
				$('.textbig1').toggleClass('textbig11');
				$('.textbig1').toggleClass('textbig1');
				$('.bigtext').toggleClass('bigtexth');
				$('.bigtext').toggleClass('bigtext');
				$('.butt_content').toggleClass('butt_contenth');
				$('.butt_content').toggleClass('butt_content');

			});
			$(".exit").on('click',function(){
				$(".eexit").toggleClass('exit');
				$(".eexit").toggleClass('eexit');
				$('.textbig11').toggleClass('textbig1');
				$('.textbig11').toggleClass('textbig11');
				$('.bigtexth').toggleClass('bigtext');
				$('.bigtexth').toggleClass('bigtexth');
				$('.butt_contenth').toggleClass('butt_content');
				$('.butt_contenth').toggleClass('butt_contenth');
			});
	        $("a[href^='#main']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
			$("a[href^='#jj']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
	        $("a[href^='#vv']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
	        $("a[href^='#kk']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
	        $("a[href^='#ll']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
	        $("a[href^='#zz']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
			$("#theame").click(function(){
				$("body").toggleClass('title_example');
			});
	        $(".btn_up").click(function(){
	        	$('body').animate({'scrollTop':0}, 1000);
	        	$('html').animate({'scrollTop':0}, 1000);
	        });
			$(".navigation_icon").click(function(){
				$(".navigation").toggleClass('navigation-open');
				$(".TITLEe").toggleClass('for_titlee');
			});
			$(".Glavnaya").click(function(){
				$(".navigation").toggleClass('navigation-open');
				$(".TITLEe").toggleClass('for_titlee');
			});
			$('.dicip').mouseenter(function(){
				$('.obertka_disc').show();
			});
			$('.dicip3').mouseleave(function(){
				$('.obertka_disc').hide();
			});
		});
	</script>
</body>
</html>
